body
{
    padding: 0px;
    margin: 0px;
}

#header
{
    padding: 20px;
    background-color: #d7e5e4;
    border-bottom: #5f9482 solid 2px;
    color: #1e4638;
    font-size: 24px;
}

.submitButton
{
    background-color: #d7e5e4;
    border: #5f9482 solid 1px;
    padding: 4px;
    cursor: pointer;
}

    .submitButton:hover
    {
        background-color: #e1e1e1;
    }

.login
{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: solid 2px #5f9482;
    color: #1e4638;
}

    .login .textBox
    {
        width: 240px;
    }


    .login #divButton
    {
        padding: 4px;
        text-align: right;
    }

.chatRoom
{
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px gray;
}

    .chatRoom .title
    {
        font-size: 16px;
        font-weight: bold;
        padding: 8px;
        background-color: #d7e5e4;
        border-bottom: solid 1px #5f9482;
    }

    .chatRoom .content
    {
        height: 300px;
        clear: both;
    }

        .chatRoom .content .chatWindow
        {
            float: left;
            width: 409px;
            height: 300px;
            border-right: solid 1px #5f9482;
            overflow-y: scroll;
        }

            .chatRoom .content .chatWindow .message
            {
                padding: 4px;
            }

                .chatRoom .content .chatWindow .message .userName
                {
                    font-weight: bold;
                }

        .chatRoom .content .users
        {
            float: right;
            width: 240px;
            height: 300px;
        }

            .chatRoom .content .users .user
            {
                display: block;
                cursor: pointer;
                padding: 4px;
                background-color: #f9f9f9;
                border-bottom: solid 1px #5f9482;
            }

            .chatRoom .content .users .loginUser
            {
                display: block;
                padding: 4px;
                color: gray;
                border-bottom: solid 1px #5f9482;
            }

            .chatRoom .content .users .user:hover
            {
                background-color: #e1e1e1;
            }

    .chatRoom .messageBar
    {
        border-top: solid 1px gray;
        padding: 4px;
    }

        .chatRoom .messageBar .textbox
        {
            width: 550px;
        }

.disconnect
{
    position: absolute;
    margin: 10px;
    background-color: #ffcbcb;
    padding: 4px;
    border: solid 1px red;
}


.draggable
{
    position: absolute;
    border: #5f9482 solid 1px !important;
    width: 250px;
}

    .draggable .header
    {
        cursor: move;
        background-color: #d7e5e4;
        border-bottom: #5f9482 solid 1px;
        color: #1e4638;
    }

    .draggable .selText
    {
        color: black;
        padding: 4px;
    }

    .draggable .messageArea
    {
        width: 250px;
        overflow-y: scroll;
        height: 200px;
         border-bottom: #5f9482 solid 1px;
    }

        .draggable .messageArea .message
        {
            padding: 4px;
        }

    .draggable .buttonBar
    {
        width: 250px;
       padding:4px;
    }

        .draggable .buttonBar .msgText
        {
            width: 172px;
        }

        .draggable .buttonBar .button
        {
           margin-left:4px;
            width: 55px;
        }
